# Proje Ayarları
PROJECT_NAME="AI Code Analyzer API"
API_V1_STR="/api/v1"

# Güvenlik (JWT)
SECRET_KEY="super-secret-key-change-this-in-production-environment"
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Veritabanı (MongoDB)
MONGODB_URL="mongodb://localhost:27017"
DATABASE_NAME="code_analyzer_db"

# LLM (OpenAI)
OPENAI_API_KEY=
